/* Write your CSS here */
.not-found {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.not-found h1 {
  color: #ffffff;
  font-size: 30px;
  font-family: Bree Serif;
}
