/* Write your CSS here */

.Team-matches-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  min-height: 100vh;
}
.content-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 30px;
}
.team-img {
  width: 100%;
  margin-bottom: 20px;
}
.team-heading {
  color: #ffffff;
  font-size: 30px;
  font-family: Bree Serif;
}

.match-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
